input {
  background: none;
  border: 1px solid #fff;
  border-radius: 0.25em;
  color: #fff;
  margin: 0.5em;
  padding: 10px;
  max-width: 500px;
  width: 100%;
  font-size: 15px;
}

::placeholder {
  color: #eee;
}

button {
  background: none;
  border: none;
  color: #61dafb;
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
}
